body {
    background-image: url('https://images.fineartamerica.com/images-medium-large-5/2-classic-vintage-boxing-ring-allan-swart.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    background-color: black;
    font-family: 'Anton', sans-serif;
    color: rgb(17, 20, 20);
}

h1 {
    font-size: 4em;
}

img {
    width: 80%;
    border: 2px double white;
    
}

.player-one-card {
    background-color: black;
    border: 2px double white;
    color: white;
}
.player-two-card {
    background-color: black;
    border: 2px double white;
    color: white;
}