body {
    background-image: url('https://images.fineartamerica.com/images-medium-large-5/2-classic-vintage-boxing-ring-allan-swart.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
    background-color: black;
    font-family: 'Paytone One', sans-serif;
    color: rgb(5, 5, 5);
}

h1 {
    font-size: 4em;
}


img {
    width: 80%;
    border: 2px double white;
    
}

.player-one-card {
    background-color: black;
    border: 2px double #5cb85c;
    color: white;
    margin-bottom: 20px;
    margin-left: 20%;
}
.player-two-card {
    background-color: black;
    border: 2px double #5cb85c;
    color: white;
    margin-bottom: 20px;
    margin-left: 15%;
}



#battle-button {
    color: black;
    margin-bottom: 13px;
    margin-left: 5px;
}

#next-battle{
    color: black;
    margin-left: 40px;
    margin-bottom: 13px;
}

.well {
    background: #5cb85c;
}
